/bootstrap/compiled.php
/vendor
/bower_components
/node_modules
/public/assets/images/uploads
/public/assets/images/optimized

.tmp/
tmp/
.sass-cache/
.project
.htaccess

composer.phar
composer.lock
.DS_Store
Thumbs.db
CNAME
