/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  /*color: rgba(255,255,255,1);*/
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #fff;
  /*border-bottom-color: rgba(255,255,255,.25);*/
}
/*.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}*/

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*@media (min-width: 768px) {
  .masthead {
    position: absolute;
    top: 0;
  }
}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 100%;
  }
}*/

.jumbotron, h1, h2, h3, h4, h5, h6, footer { font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
.jumbotron, footer { color: white; }
h2 { font-weight: bold; }

.jumbotron {
  /* masthead 3 */
  /*background: url('../img/masthead3.jpg') 50% 81% no-repeat;*/

  /* masthead 1 */
  background: url('../img/masthead.jpg') 50% 50% no-repeat;

  background-size: cover;

  color: white;
  margin-bottom: 3em;
}

@media (max-width: 767px) {
  .jumbotron {
    padding: 0;
    min-height: 15.625em;
  }
}

.past-project .img-thumbnail { height: 285px; }

@media (min-width: 1025px) {
  .col-md-offset-3, .col-xs-offset-3 { margin: 0; }
}

@media (max-width: 767px) {
  .img-thumbnail, .featurette-image {
    height: auto;
    max-width: 290px;
  }

  .offset { margin-left: 25%; }

  /*.past-project .img-thumbnail { max-width: 185px; }*/
  .headline p { display: none; }
  .featurette-img-wrapper { text-align: center; }
}



.marketing {
  margin-bottom: 3em;
}

.marketing h2 {
  text-align: center;
  margin-bottom: 1.5em;
}

.marketing .col-lg-4, .marketing .col-lg-6 {
  text-align: center;
}

.col-lg-4, .col-lg-6 {
  margin-bottom: 2em;
}

@media (max-width: 767px) {
  .col-lg-4, .col-lg-6 {
    margin-bottom: 3em;
  }
}

footer {
  background-color: #549FAA;
  padding: 25px 0;
}

footer a, footer a:visited, footer a:hover { text-decoration: none; }

footer a, footer a:visited { color: white; }

footer a:hover {
  color: #6CBDD0;
  text-decoration: none;
}

footer .aligncenter > div {
  margin: 1.5em 0;
}

/*footer .email a {
  border: 1px solid white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  display: inline-block;
  display: -moz-inline-stack;
  *zoom: 1;
  *display: inline;
}*/

footer .email a:hover {
  border: 1px solid #6CBDD0;
}

footer .social a {
  margin: 0 10px;
}

footer .top {
  width: 50px;
  display: inline-block;
  display: -moz-inline-stack;
  *zoom: 1;
  *display: inline;
}

.aligncenter { text-align: center; }
.lead { text-align: left; }

.individual {
  background-color: #16283B;
  color: white !important;
}

.individual .jumbotron, .individual footer {
  background: none;
}

.individual .jumbotron {
  min-height: 0;
}

.individual .thumb { text-align: center; }


.individual .sublead { text-align: left; }
.individual .tech {
  background-color: #8FB8C0;
  display: inline-block;
  display: -moz-inline-stack;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 10px;
}
.individual .tech img {
  height: 50px;
  margin: 5px;
}

.individual .img-thumbnail { height: auto; }
@media (max-width: 767px) {
  .individual .img-thumbnail { max-width: 300px; }
}

.videoWrapper {
  position: relative;
  height: 0;
  padding-bottom: 33%; /* 16:9 */
  padding-top: 25px;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
