extends layouts/_default

append header
  - var currentPage = "Home"
  include ./modules/_header

block content  
  .jumbotron
    h1= homeTitle
    p= homeSubtitle
    
  .row
    - var n = 0
    while n < 5
      .col-md-4.col-sm-6.col-xs-12
        h1= n++
