- var siteTitle = "Prima Aulia Gusta's Portfolio";
- var siteDesc = "Lorem ipsum dolor sit amet.";
- var siteBrand = "Altabepha";

- var homeTitle = "Heya!";
- var homeSubtitle = "The spirit is willing but the flesh is weak";
